.aside-section {
    width: 100%;
    max-width: 270px;
    padding: 5px 30px 30px 30px;
    border: 1px solid #dde3e8;
}
.aside-section .title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 3;
    color: #263238;
    border-bottom: 1px solid #dde3e8;
}
.categories-item {
    margin-top: 30px;
}

.categories-item .fa {
    font-size: 14px;
    color: #8bc34a;
}
.categories-name {
    font-size: 15px;
    color: #263238;
    margin-left: 13px;
}
.categories-quantity {
    font-size: 15px;
    color: #90a4ae;
}
.categories-quantity::before {
    content:'('
}
.categories-quantity::after {
    content:')'
}

.aside-section .card.medium-card {
    border: none;
    box-shadow: none;
    margin-top: 20px;
}
.aside-section .card.medium-card .card-info {
    padding: 20px 0;
    font-weight: 700;
    font-size: 16px;
    color: #263238;
    font-family:'Roboto', sans-serif;
    border-bottom: none;
}
.aside-section .card.medium-card .card-item-category {
    font-weight: 500;
    font-size: 14px;
}
.aside-section .card.medium-card .card-price {
    font-size: 16px;
}
.aside-section .card.medium-card .card-author {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #dde3e8;
}
.aside-section + .aside-section {
    margin-top: 30px;
}