/*DEFAULT SECTION START*/

.default-section {
    padding: 120px 0;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.search-section-main {
    background: url(../img/search-section-bg-img.jpg) no-repeat center / cover;
    padding-top: 155px;
    padding-bottom: 175px;
}
.search-section {
    padding: 60px 0;
}


/*DEFAULT SECTION END*/