/*LOGIN-MODAL START*/

#loginModal .modal-dialog {
    max-width: 730px;
    font-family: Roboto, serif;
}

#loginModal .modal-content {
    background-color: #8bc34a;
    border-radius: 0;
    border: none;
    padding: 90px 30px 110px;
}

#loginModal .login-title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}

#loginModal form[name="login-form"] {
    max-width: 400px;
    margin: 40px auto 0;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.login-form-control::-webkit-input-placeholder {
    color: #ffffff;
}

.login-form-control::-moz-placeholder {
    color: #ffffff;
}

/* Firefox 19+ */
.login-form-control:-moz-placeholder {
    color: #ffffff;
}

/* Firefox 18- */
.login-form-control:-ms-input-placeholder {
    color: #ffffff;
}

#loginModal .login-form-control {
    background-color: #76ae36;
    height: 43px;
    color: #ffffff;
    font-size: 14px;
    padding-left: 40px;
    font-weight: 400;
    width: 100%;
}

#loginModal .login-form-group {
    position: relative;
}

#loginModal .login-form-group + .login-form-group {
    margin-top: 8px;
}

#loginModal .login-form-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    color: #ffffff;
}

#loginModal .login-btn-group {
    margin-top: 19px;
    font-family: Roboto, serif;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 28px;
}

#loginModal .submit-btn {
    font-size: 14px;
    font-weight: bold;
    padding: 19px 44px;
    background-color: #ffffff;
    -webkit-box-shadow: inset hoff voff blur color;
    -moz-box-shadow: inset hoff voff blur color;
    box-shadow: 0 2px 2px 0 rgba(118, 174, 54, .75);
}

#loginModal .btn-green {
    background-color: #76ae36;
    color: #ffffff;
}

#loginModal .custom-btn {
    font-size: 14px;
    font-weight: 400;
    padding: 18px 48px 19px 37px;
    margin-left: 10px;
}

#loginModal .lost-password {
    color: #ffffff;
}

#loginModal .fa {
    margin-right: 5px;
}

#loginModal .close {
    position: absolute;
    right: 28px;
    top: 21px;
    color: #ffffff;
    border: none;
    box-shadow: none;
    opacity: 1;
}

/*LOGIN-MODAL END*/

/*HEADER START*/
.dropdown-toggle.dropdown-notification .count.basket-green-count {
    background-color: #8bc34a;
}

#loginModal .go-checkout .btn {
    margin-right: 28px;
}

.header .navigation {
    padding: 15px 0;
}

.navigation .header-nav a + a {
    margin-left: 43px;
}

.navigation .header-nav {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
}

.navigation {
    margin-left: 64px;
    margin-right: 155px;
}

#loginModal .go-checkout .btn.btn-default {
    padding: 6px 20px;
    border-radius: 3px !important;
}

#loginModal .search-section-login {
    background: url(../img/search-section-login.jpg) no-repeat center / cover;
    padding-top: 155px;
    padding-bottom: 175px;
}

#loginModal .search-section-login .search-section-title {
    text-transform: uppercase;
    font-family: Roboto, serif;
    font-size: 48px;
    font-weight: bold;

}

#loginModal .text-green {
    color: #8bc34a;
}

#loginModal .search-section-title {
    margin-bottom: 108px;
}

#loginModal .search-section-login .form-control-search input {
    width: 220px;
    color: #90a4ae;
}

#loginModal .search-section-login .form-control-search i {
    font-size: 20px;
    color: #263238;
}

#loginModal .search-section-login .form-search {
    max-width: 760px;
}