
/* RESET START */
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus{
    outline:none;
}

body{
    margin: 0;
    background-color: #f4f6f5;
    color: #263238;
    font: 400 14px/1 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}
p {
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
input, textarea, button{
    outline: none;
    border:none;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
textarea{
    resize: vertical;
}
input[type="submit"]{
    cursor: pointer;
}
blockquote {
    margin: 0;
}
/* RESET END */

.icon {
    display: inline-block;
}
/*ASIDE SECTION START*/
.aside-section {
    padding: 5px 30px 30px 30px;
    border: 1px solid #dde3e8;
    background-color: #fff;
}
.aside-section .aside-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
    color: #263238;
    border-bottom: 1px solid #dde3e8;
}

.categories-item {
    margin-top: 30px;
}

.categories-item .fa {
    font-size: 14px;
    color: #8bc34a;
}
.categories-name {
    font-size: 15px;
    color: #263238;
    margin-left: 13px;
}
.categories-quantity {
    font-size: 15px;
    color: #90a4ae;
}
.categories-quantity::before {
    content:'('
}
.categories-quantity::after {
    content:')'
}
/*Aside section - TOP 10 Sellers*/
.aside-section .card.medium-card {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 20px;
}
.aside-section .card.medium-card .card-info {
    padding: 20px 0;
    font-weight: 700;
    font-size: 16px;
    color: #263238;
    font-family:'Roboto', sans-serif;
    border-bottom: none;
}
.aside-section .card.medium-card .card-item-category {
    font-weight: 500;
    font-size: 14px;
}
.aside-section .card.medium-card .card-price {
    font-size: 16px;
}
.aside-section .card.medium-card .card-author {
    padding: 0 0 27px 0;
    border-bottom: 1px solid #dde3e8;
}
.aside-section .card.medium-card:last-of-type .card-author {
    border-bottom: none;
    margin-bottom: 16px;
}
.aside-section + .aside-section {
    margin-top: 30px;
}

/*ASIDE SECTION END*/
/*BREADCRUMBS START*/
.breadcrumbs {
    padding: 48px 0 42px 0;
}
.breadcrumb{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    color: #b0bec5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
}
.breadcrumb > li + li:before {
    color: #8bc34a;
    content: "-";
    padding: 0 5px;
    margin: 9px;
}
.breadcrumb .active {
    color: #263238;
}

/*BREADCRUMBS END*/
<<<<<<< HEAD
/* BUTTONS START */
.btn {
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
}

.btn.btn-default {
    font-size: 14px;
    padding: 10px 15px;
    color: #fff;
}

.btn.btn-default i {
    padding-right: 10px;
}

.btn.btn-lg {
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
}

.btn.btn-round {
    border-radius: 4px;
}

.btn.btn-shadow {
    -webkit-box-shadow: 2px 2px 2px rgba(204, 216, 228, .75);
            box-shadow: 2px 2px 2px rgba(204, 216, 228, .75);
}

.btn.btn-darkgreen-shadow {
    -webkit-box-shadow: 2px 2px 2px rgba(118, 174, 54, .75);
            box-shadow: 2px 2px 2px rgba(118, 174, 54, .75);
}

.btn.btn-red {
    background-color: #e74c3c;
}

.btn.btn-red:hover {
    background-color: #fff;
    border: solid 1px #e74c3c;
    color: #e74c3c
}

.btn.btn-green {
    background-color: #95c85a;
}

.btn.btn-green:hover {
    background-color: #fff;
    border: solid 1px #95c85a;
    color: #95c85a;
}

.btn.btn-white {
    background-color: #fff;
    color: #263238;
}

.btn.btn-white:hover {
    background-color: #f5f5f5;
}

.btn.btn-gray {
    background-color: #455a64;
}

.btn.btn-gray:hover {
    background-color: #fff;
    color: #455a64;
    border: solid 1px #455a64;
}

.btn.btn-blue {
    background-color: #42a5f5;
}

.btn.btn-blue:hover {
    background-color: #fff;
    color: #42a5f5;
    border: solid 1px #42a5f5;
}

.btn.btn-darckgreen {
    background-color: #76ae36;
}

.btn.btn-darckgreen:hover {
    background-color: #95c85a;
}
.btn-outline {
    background-color: rgba(255, 255, 255, .0);
    border: solid 2px #fff;
}
.btn-outline:hover {
    background-color: rgba(255, 255, 255, .1);
    border: solid 2px #fff;
}
/*Work background for file with buttons
*/
.bg-buttons-green-html {
    background-color: #8bc34a;
    padding: 30px;
    margin-bottom: 20px;
}

.bg-buttons-light-html {
    background-color: #eeeeee;
    padding: 30px;
}
/* BUTTONS END*/

/* Buttons */
.btn {
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
}

.btn.btn-default {
    font-size: 14px;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
}

.btn.btn-default i {
    padding-right: 10px;
}

.btn.btn-lg {
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
}

.btn.btn-round {
    border-radius: 4px;
}

.btn.btn-shadow {
    -webkit-box-shadow: 2px 2px 2px rgba(204, 216, 228, .75);
            box-shadow: 2px 2px 2px rgba(204, 216, 228, .75);
}

.btn.btn-darkgreen-shadow {
    -webkit-box-shadow: 2px 2px 2px rgba(118, 174, 54, .75);
            box-shadow: 2px 2px 2px rgba(118, 174, 54, .75);
}

.btn.btn-red {
    background-color: #e74c3c;
}

.btn.btn-red:hover {
    background-color: #fff;
    border: solid 1px #e74c3c;
    color: #e74c3c
}

.btn.btn-green {
    background-color: #95c85a;
}

.btn.btn-green:hover {
    background-color: #fff;
    border: solid 1px #95c85a;
    color: #95c85a;
}

.btn.btn-white {
    background-color: #fff;
    color: #263238;
}

.btn.btn-white:hover {
    background-color: #f5f5f5;
}

.btn.btn-gray {
    background-color: #455a64;
}

.btn.btn-gray:hover {
    background-color: #fff;
    color: #455a64;
    border: solid 1px #455a64;
}

.btn.btn-blue {
    background-color: #42a5f5;
}

.btn.btn-blue:hover {
    background-color: #fff;
    color: #42a5f5;
    border: solid 1px #42a5f5;
}

.btn.btn-darckgreen {
    background-color: #76ae36;
}

.btn.btn-darckgreen:hover {
    background-color: #95c85a;
}
.btn-outline {
    background-color: rgba(255, 255, 255, .0);
    border: solid 2px #fff;
}
.btn-outline:hover {
    background-color: rgba(255, 255, 255, .1);
    border: solid 2px #fff;
}
/*Work background for file with buttons
*/
.bg-buttons-green-html {
    background-color: #8bc34a;
    padding: 30px;
    margin-bottom: 20px;
}

.bg-buttons-light-html {
    background-color: #eeeeee;
    padding: 30px;
}
.btn.login {
    padding: 10px 14px;
    font-size: 12px;
    font-weight: 400;
    width: 72px;
    height: 32px;
}
/* Buttons */
.btn {
    font-family: 'Roboto', sans-serif  !important ;
    border-radius: 0  !important;
}

.btn.btn-default {
    font-size: 14px;
    padding: 10px 15px;
    color: #fff;
}

.btn.btn-block{
    display: block;
    width: 100%;
}

.btn.btn-default i {
    padding-right: 10px;
}

.btn.btn-lg {
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
}

.btn.btn-round {
    border-radius: 4px;
}

.btn.btn-shadow {
    -webkit-box-shadow: 2px 2px 2px rgba(204, 216, 228, .75);
            box-shadow: 2px 2px 2px rgba(204, 216, 228, .75);
}

.btn.btn-darkgreen-shadow {
    -webkit-box-shadow: 2px 2px 2px rgba(118, 174, 54, .75);
            box-shadow: 2px 2px 2px rgba(118, 174, 54, .75);
}

.btn.btn-red {
    background-color: #e74c3c;
}

.btn.btn-red:hover {
    background-color: #fff;
    border: solid 1px #e74c3c;
    color: #e74c3c
}

.btn.btn-green {
    background-color: #95c85a;
}

.btn.btn-green:hover {
    background-color: #fff;
    border: solid 1px #95c85a;
    color: #95c85a;
}

.btn.btn-white {
    background-color: #fff;
    color: #263238;
}

.btn.btn-white:hover {
    background-color: #f5f5f5;
}

.btn.btn-gray {
    background-color: #455a64;
}

.btn.btn-gray:hover {
    background-color: #fff;
    color: #455a64;
    border: solid 1px #455a64;
}

.btn.btn-blue {
    background-color: #42a5f5;
}

.btn.btn-blue:hover {
    background-color: #fff;
    color: #42a5f5;
    border: solid 1px #42a5f5;
}

.btn.btn-darckgreen {
    background-color: #76ae36;
}

.btn.btn-darckgreen:hover {
    background-color: #95c85a;
}
.btn-outline {
    background-color: rgba(255, 255, 255, .0);
    border: solid 2px #fff;
}
.btn-outline:hover {
    background-color: rgba(255, 255, 255, .1);
    border: solid 2px #fff;
}
/*Work background for file with buttons
*/
.bg-buttons-green-html {
    background-color: #8bc34a;
    padding: 30px;
    margin-bottom: 20px;
}

.bg-buttons-light-html {
    background-color: #eeeeee;
    padding: 30px;
}
.btn.login {
    padding: 10px 14px;
    font-size: 12px;
    font-weight: 400;
    width: 72px;
    height: 32px;
}

/*CARDS START*/
.cards .row + .row{
    margin-top:30px ;
}
.card{
    border-radius:0 ;
    border-color: #d9e0e3;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}

.card:hover{
    -webkit-box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
            box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
}

.card .card-img img{
    width: 100%;
}

.card .card-info{
    border-bottom: 1px solid #d9e0e3;
}

.card.large-card .card-info{
    padding: 25px 30px 15px;
    font-weight: 500;
    color: #263238;
}

.card .card-description .card-author a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.card.medium-card .card-info{
    padding: 25px 20px;
    font-weight: 500;
    color: #263238;
}

.card.large-card .card-author{
    padding: 17px 30px 21px;
}
.card.medium-card .card-author{
    padding: 15px 22px 20px;
}

.card.large-card .card-author .author-name{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color:#546e7a;
}

.card.medium-card .card-author .author-name{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color:#546e7a;
}

.card .card-author .rating-count{
    font-size: 12px;
}

.card-roduct-rating{
    font-size: 12px;
    font-weight: 400;
    color:#ffa726;
}

.card.large-card .card-author .card-roduct-rating{
    margin-right: 10px;
}

.card.medium-card .card-author .card-roduct-rating{
    margin-right: 10px;
}

.card.large-card .card-item-title{
    font-size: 18px;
}

.card.medium-card .card-item-title{
    font-size: 18px;
}

.card.large-card .card-item-category{
    font-size: 14px;
    color: #8bc34a;
    margin-top: 10px;
}

.card.medium-card .card-item-category{
    font-size: 14px;
    color: #8bc34a;
    margin-top: 10px;
}

.card.large-card .card-price{
    font-weight: 700;
    font-size: 20px;
}

.card.medium-card .card-price{
    font-weight: 700;
    font-size: 20px;
}

/*CARDS END*/

/*CONTENT-WRAPPER START*/

.content-wrapper-bordered {
    background-color: #fff;
    border: 1px solid #dedede;
}

.content-wrapper-bordered .content-wrapper-title {
    padding: 20px 34px;
    color: #263238;
    border-bottom: 1px solid #dedede;
}

.content-wrapper-bordered .content-wrapper-title h6 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 500;
}

.content-wrapper-bordered .content-wrapper-body {
    padding: 30px 34px 80px;
}

/*CONTENT-WRAPPER-END*/
/*DEFAULT SECTION START*/

.default-section {
    padding: 120px 0;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.search-section-main {
    background: url(../img/search-section-bg-img.jpg) no-repeat center / cover;
    padding-top: 155px;
    padding-bottom: 175px;
}
.search-section {
    padding: 60px 0;
    background: url('../img/search-section-background.jpg') no-repeat center/cover;
    height: 228px;
}
.search-section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 28px;
}

.breadcrumbs-section{
    padding: 47px 0 40px;
}


/*DEFAULT SECTION END*/

/*DROPDOWNS START*/

.header-dropdown-list .dropdown + .dropdown{
    margin-left: 15px !important;
}

.dropdown-menu{
    margin:0;
    top: 85% !important; /*Костыль */
    border-radius: 0;
}

.dropdown-menu.dropdown-notification.dropdown-message,  .dropdown-menu.dropdown-notification.dropdown-notice{
    padding-bottom: 0;
    padding-top: 0;
    border-bottom:0;
}

.dropdown-menu.dropdown-notification .dropdown-item{
    min-width: 260px;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.dropdown-menu.dropdown-notification .dropdown-item > a{
    display: block;
    border-radius: 100%;
    overflow: auto;
}

.dropdown-menu.dropdown-notification.dropdown-basket .dropdown-item > a{
    border-radius: 0;
    overflow: inherit;
}


.dropdown-menu.dropdown-notification .item-content{
    margin-left: 15px;
    font-weight: 500;
}

.dropdown-menu.dropdown-notification .item-content span{
    display: block;
    margin-top: 5px;
}

.dropdown-menu.dropdown-notification.dropdown-notice .item-content .item-date{
    margin-top: 15px;
}

.dropdown-menu.dropdown-notification .item-content h6{
    font-size: 15px;
    line-height: 1;
}

.dropdown-menu.dropdown-notification .item-category{
    font-size: 12px;
    color: #84b743;
    font-weight: 400;
}

.dropdown-menu.dropdown-notification .item-price{
    font-size: 16px;
}

.dropdown-menu.dropdown-notification .item-date{
    font-size: 10px;
    font-weight: 400;
}

.dropdown-menu.dropdown-notification.dropdown-notice .item-date{
    margin-bottom: 18px;
}

.dropdown-menu.dropdown-notification .feedback-icon a:hover{
    color: #ef6c00;
}

.dropdown-menu.dropdown-notification .total-price{
    padding: 18px 28px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.dropdown-menu.dropdown-notification .checkout-buttons{
    padding: 0 16px 12px;
}

.dropdown-menu.dropdown-notification .checkout-buttons a + a{
    margin-left: 6px;
}

.dropdown-menu.dropdown-user{
    padding: 18px;
    border-radius: 0;
}

.dropdown-menu.dropdown-user a{
    display: block;
}

.dropdown-menu.dropdown-user a + a{
    margin-top: 25px;
}

.dropdown-menu.dropdown-user a i{
    color: #8bc34a;
    margin-right: 7px;
    font-size:12px;
}

.dropdown-menu.dropdown-user a span{
    font-size: 12px;
    font-weight: 400;
}

.dropdown-toggle.dropdown-notification{
    background-color: #f5f5f5;
    border-radius: 100%;
    padding: 10px;
    position: relative;
    width: 34px;
    height: 34px;
}

.dropdown-toggle.dropdown-user{
    position: relative;
    padding: 10px 0 9px;
}

.dropdown-toggle .count{
    position: absolute;
    top:-6px;
    right:-4px;
    min-width: 18px;
    min-height: 18px;
    border-radius: 100%;
    font-size: 11px;
    color:#ffffff;
}

.dropdown-toggle.dropdown-notification .count.basket-color-count{
    background-color: #e74c3c;
}

.dropdown-toggle.dropdown-notification .count.message-color-count{
    background-color: #ef6c00;
}

.dropdown-toggle.dropdown-notification .count.notice-color-count{
    background-color: #fcb322;
}


.dropdown-toggle.dropdown-notification .count span{
    display: block;
    margin: auto;
}

.dropdown-toggle::after{
    display:none;
}

/*DROPDOWNS END*/


/*FOOTER START*/
footer{
    background-color: #263238;
}

.footer-content{
    padding: 110px 0 95px;
    border-bottom: 1px solid #424d53;
}

@media (max-width: 1999px) {
    .footer-content{
    padding: 110px 5% 55px 15%;
    }
    .footer-content .row > *{
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .footer-content{
        padding-left:10%;
    }
}

.footer-content .footer-col-wrapper.links{
    margin: 0 auto;
    width: 80%;
}

@media (max-width: 1999px) {
    .footer-content .footer-col-wrapper.links{
        width: auto;
    }
}

footer .company-adress{
    margin-top: 30px;
}

.footer-content .company-adress li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-content .company-adress li i{
    color: #8bc34a;
    font-size: 18px;
}

.footer-content .company-adress li span{
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}

.footer-col-wrapper.links li +li, .company-adress li+li{
    margin-top: 20px;
}

.footer-col-wrapper .footer-description{
    font-size: 15px;
    line-height: 24px;
}

footer .categories-item .categories-name, .footer-description{
    color:#b7c3c8;
}

.title.footer-title{
    margin-bottom: 55px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    line-height: 24px;
    position: relative;
}

.title.footer-title:after{
    content: "";
    height: 3px;
    width: 50px;
    background: #8bc34a;
    position: absolute;
    left: 0;
     bottom: -28px;
    z-index: 1;
}

.form-for-footer .footer-form-title{
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
}

.copyright{
    padding: 25px 0 30px;
}

.copyright p{
    font-size: 15px;
    line-height: 36px;
    color:#919699;
}

/*FOOTER END*/
/*FORMS START*/
select{
    outline: none;
    border:none;
}
.form-control {
    width: 100%;
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    height: 40px;
    font-size: 14px;
    line-height: 2.1428;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
}
.form-control:focus,
.form-control-login:focus {
    border-color: #111;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.form-control.upload-item {
    max-width: 900px;
}
textarea {
    min-height: 150px;
}
.col-form-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #444;
}
.col-form-must {
    font-size: 24px;
    color: #8bc34a;
}
/*Select*/
.jq-selectbox {
    width: 100%;
}
.jq-selectbox__select {
    height: 40px;
    background: #f9f9f9;
    border-color: #dedede;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 40px 0 15px;
    line-height: 40px;
}
.jq-selectbox__select:hover {
    background: #f9f9f9;
}
.jq-selectbox__select-text {
    font-size: 14px;
    /*line-height: 2.1428;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
}
.jq-selectbox__trigger {
    border-left: none;
    width: 40px;
}
.jq-selectbox__trigger-arrow {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-top-color: #000000;
}
/*Search*/
.form-search {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
}
.form-control-search {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 1px 0 10px rgba(100, 100, 100, 0.75);
            box-shadow: 1px 0 10px rgba(100, 100, 100, 0.75);
    color: #90a4ae;
    height: 56px;
    position: relative;
}
.form-control-search input {
    padding: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: .05em;
    font-size: 14px;
}
.form-control-search i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 18px;
}
/*Login*/
.login-form {
    background-color: #8bc34a;
    border-radius: 0;
    border: none;
    padding: 90px 30px 110px;
}

/*#loginModal */
.login-title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
form[name="login-form"] {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.login-form-control::-webkit-input-placeholder {color:#fff;}
.login-form-control::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.login-form-control:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.login-form-control:-ms-input-placeholder      {color:#fff;}

.login-form-control {
    background-color: #76ae36;
    height: 43px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 40px;
    width: 100%;
}
.login-form-group {
    position: relative;
}
.login-form-group + .login-form-group {
    margin-top: 8px;
}
.login-form-group i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 18px;
    color: #fff;
}
.login-btn-group {
    margin-top: 20px;
    position: relative;
}
.login-btn-group button {
    width: 138px;
}

.login-btn-group .btn + .btn {
    margin-left: 10px;
}
.login-btn-group a {
    width: 248px;
}
/*Footer - form*/
.footer-form {
    max-width: 260px;
    margin: auto;
    background: #2f3c43;
    border: 1px solid #000;
    -o-border-image: linear-gradient(#000, #263238)1;
       border-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#263238))1;
       border-image: linear-gradient(#000, #263238)1;
}
/*Footer form*/
.form-control-sign-up {
    height: 38px;
    color: #697378;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    padding: 0 0 0 15px;
    background-color: transparent;
    width: 211px;
}
.footer-form button {
    width: 43px;
    background-color: #729e4c;
    color: #fff;
    font-size: 20px;
    height: 38px;
}
/*Special buttons*/
.form-control.disabled,
.form-control [disabled] {
    cursor: not-allowed;
    opacity: .6;
}
.form-control.error {
    border-color: #f57e7e;
}
.form-elements .form-control,
.form-elements .form-control-login,
.form-control .form-control-search {
    margin: 10px 0;
}

/*FORMS END*/
/*HEADER START*/
.top-header{
    padding: 27px 0px;
}

.top-header .go-checkout a + a{
    margin-left: 7px;
}

@media (max-width: 576px) {
    .top-header .go-checkout{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
}

.top-header .go-checkout{
    margin-left: 25px;
}

.top-header .header-help-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-right: 25px;
}

.hide-user-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (max-width: 479px) {
    .top-header .go-checkout{
        margin-left: 0;
    }
    #header-main .top-header .go-checkout{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }
    #header-main .top-header .go-checkout a{
        width: 100%;
    }
    #header-main .top-header .go-checkout a + a{
        margin-left: 0;
        margin-top: 10px;
    }
    #header-main .top-header .header-help-text{
        display: none;
    }
    .hide-user-info{
        display: none;
    }
}

.top-header .header-help-text span:first-child{
    color:#e74c3c;
}

.top-header .header-user{
    margin-left: 20px;
    position: relative;
}

.top-header .header-user .header-user-info{
    margin-left: 15px ;
    margin-right: 9px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.top-header .header-user .header-user-info span{
    display: block;
}

.top-header .header-user-info .user-cash{
    color: #8bc34a;
}
.top-header .go-checkout a {
    font-size: 12px;
    line-height: 1;
}

.user-info-control{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 145px;
}

@media (max-width: 576px) {
    .user-info-control{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media (max-width: 479px){
    .user-info-control{
        width: unset;
    }
}

.bottom-header {
    padding: 15px 0;
    color: #ffffff;
    background-color: #263238;
}

.bottom-header .header-nav{
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.bottom-header .header-nav a+a{
    margin-left: 43px;
}

@media (max-width: 991px) {
    .bottom-header .header-nav{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    .bottom-header .header-nav a+a{
        margin-left: 0;
        margin-top: 10px;
    }
    .header-controls{
        width: 100%;
        margin-top: 20px;
    }
    .navbar-expand-lg>.container{
        padding: 0 15px;
    }
}

@media (max-width: 576px){
    .header-controls{
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
}

@media(max-width: 479px){
    .top-header .header-user{
        margin-left: 0;
    }
}
/*HEADER END*/



Body{
    background-color: #ffffff;
}
/*LOGIN-MODAL START*/

#loginModal .modal-dialog{
    max-width: 730px;
    font-family: Roboto, serif;}

#loginModal .modal-content{
    background-color: #8bc34a;
    border-radius:0 ;
    border: none;
    padding: 90px 30px 110px;
}

#loginModal .login-title{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}

#loginModal form[name="login-form"]{
    max-width: 400px;
    margin: 40px auto 0;
}
.btn.focus, .btn:focus{
    -webkit-box-shadow: none;
            box-shadow: none;
}
.login-form-control::-webkit-input-placeholder {color:#ffffff;}
.login-form-control::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
.login-form-control:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
.login-form-control:-ms-input-placeholder      {color:#ffffff;}

#loginModal .login-form-control{
    background-color: #76ae36;
    height: 43px;
    color:#ffffff;
    font-size: 14px;
    padding-left: 40px;
    font-weight: 400;
    width: 100%;
}

#loginModal .login-form-group{
    position: relative;
}

#loginModal .login-form-group + .login-form-group{
    margin-top: 8px;
}

#loginModal .login-form-group i{
    position: absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left:18px;
    color: #ffffff;
}
#loginModal .login-btn-group {
    margin-top: 19px;
    font-family: Roboto, serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 28px;
}
#loginModal .submit-btn{
    font-size: 14px;
    font-weight: bold;
    padding:19px 44px;
    background-color: #ffffff;
    -webkit-box-shadow: inset hoff voff blur color;
    box-shadow: 0 2px 2px 0 rgba(118,174,54, .75);
}
#loginModal .btn-green{
    background-color: #76ae36;
    color: #ffffff;
}
#loginModal .custom-btn{
    font-size: 14px;
    font-weight: 400;
    padding: 18px 48px 19px 37px;
    margin-left: 10px;
}
#loginModal .lost-password{
    color: #ffffff;
}
#loginModal .fa{
    margin-right: 5px;
}
#loginModal .close{
    position: absolute;
    right: 28px;
    top: 21px;
    color: #ffffff;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 1;
    z-index: 1;
}
/*LOGIN-MODAL END*/

/*HEADER START*/
.login-header{
    padding:15px 0;
    margin-left: 64px;
}
.login-header .header-nav a+a {
    margin-left: 43px;
}
.login-header .header-nav{
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.dropdown-toggle.dropdown-notification .count.basket-green-count{
    background-color:#8bc34a;
}
.login-btn{
    margin-right: 28px;
}
.login-page-nav .header-nav{
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
}
.login-page-nav{
    margin-left: 64px;
    margin-right: 150px;
}
.login-btn .btn.btn-default{
    padding: 6px 20px;
    border-radius: 3px !important;
}
#search-section-login.search-section-login{
    background: url(../img/search-section-login.jpg) no-repeat center / cover;
    padding-top: 155px;
    padding-bottom: 175px;
}
#search-section-login.search-section-login .search-section-title{
    text-transform: uppercase;
    font-family: Roboto, serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 108px;
}
#search-section-login.search-section-login .form-control-search input{
    width: 220px;
    color: #90a4ae;
}
#search-section-login.search-section-login .form-control-search i{
    font-size: 20px;
    color: #263238;
}
#search-section-login.search-section-login .form-search{
    max-width: 760px;
}

@media (max-width: 991px) {

    #loginModal .modal-content{
        padding: 35px 30px 90px;
    }
    #loginModal .modal-dialog{
        max-width: 650px;
    }
    #search-section-login.search-section-login .form-search {
        max-width: 650px;
    }
    #search-section-login.search-section-login .search-section-title{
        font-size: 40px;
    }
    #search-section-login.search-section-login{
        padding-top: 100px;
        padding-bottom: 90px;
    }
    .login-header .header-nav  a{
        margin:auto !important;
    }
    .login-header .header-nav{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .login-header{
        margin-left: 0px;
        background-color: #263238;
        color: #ffffff;
    }

}

@media (max-width: 768px) {
    #search-section-login.search-section-login .search-section-title{
        font-size: 30px;
        margin-bottom: 60px;
    }
    #search-section-login.search-section-login .form-search{
        max-width: 530px;
    }
    #loginModal .modal-content{
        padding: 25px 15px 50px;
    }
    #loginModal .modal-dialog{
        max-width: 520px;
    }
}
@media (max-width: 576px) {
    .login-btn-group button {
        width: 100%;
        margin-bottom: 15px;
    }
    #loginModal .custom-btn{
        width: 100%;
        margin-left: 0;
    }
    #loginModal .modal-dialog{
        max-width: 350px;
    }
    #loginModal .login-title{
        font-size: 35px;
    }
    #loginModal form[name="login-form"]{
        margin-top: 15px;
    }
    #loginModal .modal-content{
        padding: 20px 15px 20px;
    }
    #search-section-login.search-section-login .search-section-title{
        font-size: 20px;
        margin-bottom: 45px;
    }
    #search-section-login.search-section-login .form-search{
        max-width: 350px;
    }
}
@media (min-width: 320px){
    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog {
        margin: 1.75rem auto;
    }

}

/*PAGINATION START*/

.pagination .page-item{
    width: 40px;
    height: 40px;
}

.pagination .page-item .page-link{
    text-align: center;
    font-size: 16px;
    color: #263238;
    font-weight: 500;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
            box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    border:none;
    border-radius: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.pagination .page-item .page-link:hover{
    background-color: #e74c3c;
    color: #ffffff;
}

.pagination .page-item.selected .page-link{
    background-color: #e74c3c;
    color: #ffffff;
}

.pagination .page-item + .page-item{
    margin-left: 8px;
}

/*pagination end*/

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-badges1 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 34px;
  height: 37px;
}
.icon-badges2 {
  background-image: url(../img/sprite.png);
  background-position: -34px 0px;
  width: 34px;
  height: 37px;
}
.icon-badges3 {
  background-image: url(../img/sprite.png);
  background-position: -68px 0px;
  width: 34px;
  height: 37px;
}
.icon-badges4 {
  background-image: url(../img/sprite.png);
  background-position: 0px -37px;
  width: 34px;
  height: 37px;
}
.icon-badges5 {
  background-image: url(../img/sprite.png);
  background-position: -34px -37px;
  width: 34px;
  height: 37px;
}
.icon-fb {
  background-image: url(../img/sprite.png);
  background-position: -68px -37px;
  width: 28px;
  height: 28px;
}
.icon-linkedin {
  background-image: url(../img/sprite.png);
  background-position: 0px -74px;
  width: 28px;
  height: 28px;
}
.icon-pinterest {
  background-image: url(../img/sprite.png);
  background-position: -28px -74px;
  width: 28px;
  height: 28px;
}
.icon-tw {
  background-image: url(../img/sprite.png);
  background-position: -56px -74px;
  width: 28px;
  height: 28px;
}
.icon-youtube {
  background-image: url(../img/sprite.png);
  background-position: -102px 0px;
  width: 28px;
  height: 28px;
}

.default-sprites-social i + i{
    margin-left: 7px;
}

/*TAGS START*/

.tag-list{
    margin-bottom: 60px;
    margin-top: 60px;
}
.text-center{
    text-align: center;
}
.tag-list-item{
    display: inline-table;
    font-family: Roboto;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    padding:11px 22px;
    font-weight: 400;
}
.tag-list .active{
    background-color: #e74c3c;
    color: #ffffff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
            box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
}
.tag-list a:hover{
    background-color: #e74c3c;
    color: #ffffff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
            box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
}

/*TAGS END*/
/*TEXT AND TITLE START*/

/* --- Title start --- */
.section-title {
    font-weight: 700;
	font-size: 36px;
    margin-bottom: 60px;
    color: #263238;
}
.text-title {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 32px;
    color: #263238;
}
.block-title {
    font-weight: 500;
    font-size: 24px;
    color: #263238;
}
.title-md {
    font-weight: 700;
    font-size: 20px;
    color: #444;
    margin-bottom: 25px;
}

.search-section-main-title{
    margin-bottom: 50px;
}

.search-section-main-title span:first-child{
    display: block;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.search-section-main-title span:nth-child(2){
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.text-center{
    text-align:center; 
}
.text-right{
    text-align:right; 
}
.text-left{
    text-align:left; 
}
/* --- Туайтлы расположены с убывание размера шрифта --- */
/* --- Title end --- */

/* --- Background color start--- */
.bg-dark-grey {
    background-color: #263238; 
}
.bg-grey {
    background-color: #d4d4d4;
}
.bg-light-grey {
    background-color: #f4f6f5;
}
.bg-green {
    background-color: #8bc34a;
}
/* --- Background color end--- */

/* --- Text color start--- */
.text-d-grey {
    color:rgba(38,50, 56, 0.22);
}
.text-l-gray {
    color:rgba(122,122,122,0.48);
}
.text-green {
    color: #8bc34a;
}
.text-cadet-blue {
    color: #546e7a;
}
.text-l-blue {
    color: #70838d;
}
.text-l-cyan {
    color: rgba(183,195,200,0.78)
}
.text-wite{
    color: #fff;
}
.text-main_serch{
    color: rgba(144, 164, 174, 0.68)
}
.text-need-help{
    color: rgba(231, 76, 60, 0.91);
}
/* --- l = light  d = dark --- */
/* --- Text color end--- */



/*YOUR SALES STATEMENT START*/
.your-sales-statement{
    overflow: hidden;
}
.table-section{
    padding:35px ;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
    border-bottom:1px solid #dedede;
    background-color: #ffffff;
    margin-bottom: 82px;
}
.your-sales-statement .title{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    vertical-align: middle;
    line-height: 65px;
}
.your-sales-statement .title-section{
    height:65px;
    border:1px solid #dedede;
    background-color: #fff;
    padding:0 35px;
}
.table thead{
    background-color: #455a64;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300 !important;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #fbfbfb;
}
.table .id{
    font-weight: 700;
}
.total-sales{
    margin-top: 90px;
    margin-bottom: 77px;
    color: #263238;
    font-size: 30px;
    font-family: Roboto;
}
.total-sales span{
    font-weight: 700;
    color: #8bc34a;
}
th{
    font-weight: 400;
    line-height: 32px;
}
.table td, .table th{
    vertical-align: middle;
}
.table th.position-count{
    width: 45px;
    text-align: right;
    padding: .75rem 11px;
}
.your-sales-statement .btn.btn-default{
    padding: 11px 18px 9px 17px;
    font-size: 12px;
}
/*YOUR-SALESSTATEMENT END*/
@media (max-width: 991px) {
    .bottom-header .header-nav a + a {
        margin-left: 25px;
    }
    .footer-content{
        padding: 60px 0 60px;
    }
    .top-header .header-help-text{
        display: none;
    }
    .total-sales{
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .table-section{
        padding: 15px;
        margin-bottom: 20px;
    }
    .breadcrumbs{
        padding: 25px 0 20px 0;
    }
    .bottom-header .header-nav a + a {
        margin-left: 10px;
    }
}
 .all-products-wrapper {
     background-color: #f4f6f5;
     padding-bottom: 110px;
 }
 /*Price Ranger*/
 .ui-widget.ui-widget-content {
     height: 5px;
     border: none;
     background-color: #f2f5f8;
     border-radius: 5px;
     margin-bottom: 62px;
 }

 .ui-slider .ui-slider-range {
     background-color: #37474f;
 }

 .ui-slider .min-value,
 .ui-slider .max-value{
     position: absolute;
     top: 28px;
     color: #78909c;
     font-size: 15px;
     -webkit-transform: translateX(-50%);
             transform: translateX(-50%);
     left: 50%;
 }

 .ui-slider .ui-state-default.ui-slider-handle {
     width: 16px;
     height: 16px;
     border-radius: 50%;
     border: 3px solid #8bc34a;
     background-color: #fff;
 }

 .sort-controls {
     border: 1px solid #dcdcdc;
     background-color: #fff;
     padding: 20px;
     margin-bottom: 30px;
 }
.new-products .items-update-buttons{
    margin-top: 75px;
}

.trending-products{
    background-color: #fff;
}

.trending-products .trending-carousel .slick-slide{
    padding: 0 15px;
}

.why-choose-foxtar .advantages .advantage .block-title{
    margin: 30px 0;
}

.why-choose-foxtar .advantages .advantage .block-title span:hover{
    color:#8bc34a;
    cursor: pointer;
}

.why-choose-foxtar .advantages .advantage p{
    color:#b0bec5;
}

.why-choose-foxtar .advantages .advantage img{
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
    cursor: pointer;
}

.why-choose-foxtar .advantages .advantage img:hover{
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
}

.slick-dots {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slick-dots li{
    width: 16px;
    height: 16px;
    background-color: #e8e8e8;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px #acacac;
            box-shadow: inset 0 1px 1px #acacac;
    border-radius: 50%;
}

.slick-dots li.slick-active {
    background-color: #8bc34a;
    border:none;
}

.slick-dots li button{
    display: none;
}

.slick-dots li + li {
    margin-left: 5px;
}

.be-author .be-author-background-wrapper{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.be-author .be-author-background-wrapper img{
    position: relative;
    height: auto;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 25.52px 3.48px rgba(0, 0, 0, 0.17);
            box-shadow: 0px 0px 25.52px 3.48px rgba(0, 0, 0, 0.17);
}

.be-author .become-author{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55%;
    margin: 0 auto;
    padding: 70px 60px;
    position: absolute;
    z-index: 10;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    background-color: rgba(139, 195, 74, 0.95);
}

.be-author .become-author p{
    font-size: 30px;
}

.be-author .become-author p span{
    font-weight: 700;
}

.be-author .become-author button{
    margin-left: 40px;
    font-size: 18px;
}

.tutorials{
    background: #fff;
}

.tutorials .tutorial .tutorial-title{
    font-size: 24px;
    font-weight: 700;
    background-color: #f8f8f8;
    padding: 40px 0;

}
.profile-details-wrap .aside-section{
    margin-bottom: 24px;
}

.profile-details-wrap .aside-author-info{
    margin: 25px 0 44px;
}
.profile-details-wrap .aside-author-info .aside-author-details{
    margin-left: 15px;
}

.profile-details-wrap .aside-author-info .aside-author-details h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}
.profile-details-wrap .aside-author-info .online-status{
    border: 1px solid #d3d3d3;
    color: #707070;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 10px;
}

.profile-details-wrap .aside-author-info .online-status:hover{
    background: #8bc34a;
    border: 1px solid #8bc34a;
    color: #ffffff;
}

.profile-details-wrap .aside-author-info .online-status i{
    color: #8bc34a;
    margin-right: 5px;
}

.profile-details-wrap .aside-badges div + div{
    margin-left: 8px;
}

.profile-details-wrap .default-sprites-social{
    margin-bottom: 25px;
}

.profile-details-wrap .btn-block + .btn-block{
    margin-top: 15px;
}

.profile-details-nav{
    border: 1px solid #d7d7d7;
    background-color: #fff;
}

.profile-details-nav li{
    padding: 15px 15px 15px 20px;
    border-bottom: 1px solid #d7d7d7;
    color: #707070;
}

.profile-details-nav li a:hover {
    color: #bebcbc;
}

 .profile-details-nav li.active{
    border-bottom: 2px solid #8bc34a;
    color: #263238;
}

.profile-details-nav li i{
    margin-right: 12px;
    color:#d0d0d0;
}

.profile-details-nav li.active i{
    color: #8bc34a;
}

.profile-details-wrap .banner{
    padding: 20px;
    border: 1px solid #dfdfdf;
    background: #ffffff;
    margin-bottom: 30px;
}

.profile-details-wrap .author-summary {
    background: #ffffff;
    border: 1px solid #d7d7d7;
    margin-bottom: 30px;
}

.profile-details-wrap .author-summary .single-item{
    padding: 25px 0;
    text-align: center;
    margin: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-right: 1px solid #d7d7d7;
}

.profile-details-wrap .author-summary .single-item .item-title{
    color: #263238;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.profile-details-wrap .author-summary .single-item .item-details{
    color:#707070;
}

.profile-details-wrap .item-details ul li{
}

.profile-details-wrap .item-details ul .rating-count{
    color: #263238;
    margin-left: 8px;
}

.tabs-wrapper-content{
    background: #ffffff;
    padding: 30px 35px;
    border: 1px solid #d7d7d7;
}

/*title tab*/
.profile-tab-title{
    margin-bottom: 30px;
}

.profile-tab-title span{
    font-size: 20px;
    font-weight: 700;
    color: #263238;
    line-height: 24px;
}
/*все*/

.tabs-wrapper-content .tab-item .tab-content p{
    font-size: 15px;
    font-weight: 400;
    color: #707070;
}

.tabs-wrapper-content .skills{
    margin-top: 45px;
}

.tabs-wrapper-content .skill-area + .skill-area{
    margin-top: 22px;
}

.tabs-wrapper-content .skill-area .lead{
    font-size: 16px;
}

.tabs-wrapper-content .skill-area .lead span:first-child{
    font-weight: 500;
}

.tabs-wrapper-content .skill-progress .progress-wrap{
    width: 100%;
    height: 15px;
    background-color: rgba(0,0,0, .05);
    margin-top: 17px;
    border-radius: 4px;
}

.tabs-wrapper-content .skill-progress .progress-wrap .progress-bar{
    background-color: rgba(181,181,181, 1);
    width: 0%;
    height: 15px;
    border-radius: 4px;
}
.tabs-wrapper-content .skill-progress .progress-wrap .progress-bar.design{
    width: 80%;
}

.tabs-wrapper-content .skill-progress .progress-wrap .progress-bar.wordpress{
    width: 90%;
}

.tabs-wrapper-content .skill-progress .progress-wrap .progress-bar.joomla{
    width: 70%;
}

#tabs{
    content: '';
    clear: both;
    display: block;
}

#tabs.ui-widget.ui-widget-content{
    height: 100%;
}
