.new-products .items-update-buttons {
    margin-top: 45px;
}

@media (max-width: 479px) {
    .new-products .items-update-buttons a {
        margin-top: 5px;
    }
}

.new-products .cards .card {
    margin-bottom: 30px;
}

.trending-products {
    background-color: #fff;
}

.trending-products .trending-carousel .slick-slide {
    padding: 0 15px;
}

.why-choose-foxtar .advantages .advantage .block-title {
    margin: 30px 0;
}

@media (max-width: 991px) {
    .why-choose-foxtar .advantages .advantage {
        margin-bottom: 30px;
    }

    .why-choose-foxtar .advantages .last-col .advantage {
        margin-bottom: 0px;
    }
}

.why-choose-foxtar .advantages .advantage .block-title span:hover {
    color: #8bc34a;
    cursor: pointer;
}

.why-choose-foxtar .advantages .advantage p {
    color: #b0bec5;
}

.why-choose-foxtar .advantages .advantage img {
    filter: brightness(80%);
    cursor: pointer;
}

.why-choose-foxtar .advantages .advantage img:hover {
    filter: brightness(100%);
}

.slick-dots {
    justify-content: center;
    text-align: center;
    margin-top: 65px;
    display: flex;
}

.slick-dots li {
    width: 16px;
    height: 16px;
    background-color: #e8e8e8;
    cursor: pointer;
    box-shadow: inset 0 1px 1px #acacac;
    border-radius: 50%;
}

.slick-dots li.slick-active {
    background-color: #8bc34a;
    border: none;
}

.slick-dots li button {
    display: none;
}

.slick-dots li + li {
    margin-left: 5px;
}

.be-author .be-author-background-wrapper {
    position: relative;
    display: flex;
}

.be-author .be-author-background-wrapper img {
    position: relative;
    height: auto;
    margin: 0 auto;
    box-shadow: 0px 0px 25.52px 3.48px rgba(0, 0, 0, 0.17);
}

.be-author .become-author {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin: 0 auto;
    padding: 70px 60px;
    position: absolute;
    z-index: 10;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    background-color: rgba(139, 195, 74, 0.95);
}

@media (max-width: 1199px) {
    .be-author .become-author {
        width: 72%;
        padding: 32px 60px;
    }
}

@media (max-width: 991px) {
    .be-author .become-author {
        width: 100%;
        padding: 41px 60px;
    }
}

@media (max-width: 767px) {
    .be-author .become-author {
        width: 100%;
        padding: 0;
        height: 100%;
    }
}

.be-author .become-author p {
    font-size: 30px;
}

@media (max-width: 767px) {
    .be-author .become-author p {
        margin-bottom: 20px;
    }
}

.be-author .become-author .become-author-content {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .be-author .become-author .become-author-content {
        flex-direction: column;
    }
}

.be-author .become-author p span {
    font-weight: 700;
}

.be-author .become-author button {
    margin-left: 40px;
    font-size: 18px;
    padding: 25px 40px;
}

@media (max-width: 767px) {
    .be-author .become-author button {
        margin-left: 0;
    }
}

.tutorials {
    background: #fff;
}

.tutorials .tutorial .tutorial-title {
    font-size: 24px;
    font-weight: 700;
    background-color: #f8f8f8;
    padding: 40px 0;
}

@media (max-width: 991px) {
    .tutorials .tutorial .tutorial-title {
        font-size: 18px;
        padding: 25px 15px;
    }
}

@media (max-width: 767px) {
    .tutorials .tutorial .tutorial-title {
        font-size: 24px;
    }
}

.tutorials .tutorial img {
    width: 100%;
}