/*PRODUCT DETAILS PAGE START*/

.product-details-img {
    padding: 19px;
    border: 1px solid;
    border-color: #dedede;
    margin-bottom: 40px;
    background: #ffffff;
}

.product-details-img img {
    width: 100%;
}

.product_title {
    margin-bottom: 36px;
}

.product-details-content {
    color: #707070;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
}

.btn-social-wrapp {
    margin: 50px 0 56px 0;
}

.btn-social-wrapp a.btn {
    padding: 18px 25px;
}

.btn-social-wrapp a + a {
    margin-left: 18px;
}

.product-details-wrapp ul.socials li + li {
    margin-left: 3px;

}

.tabs-section .nav-tabs .nav-item {
    width: 25%;
    font-size: 16px;
    color: #70838d;
}

.nav-tabs .nav-item + .nav-item {
    border-left: 1px solid #d7d7d7;
}

.nav-tabs .nav-link {
    width: 100%;
    text-align: center;
    padding: 22px 0;
}

.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-tabs a:hover {
    color: #70838d;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #263238;
    border-bottom: 3px solid #8bc34a;
}

.tabs-section .tab-content {
    padding: 35px 35px 65px;
}

.list-arrows {
    font-size: 16px;
}

.list-arrows + .list-arrows {
    margin-left: 37px;
}

.list-arrows li {
    margin-bottom: 25px;
}

.list-arrows li i {
    color: #8bc34a;
    padding-right: 15px;
}

/* cards */
.more-products-section {
    margin-bottom: 125px;
}

.more-products-row {
    margin: 30px 0 20px;
}

.card-autor-name {
    font-size: 18px;
    color: #263238;
    font-weight: 700;
    padding: 20px;
    border: solid 1px #dedede;
    margin: 50px 0 30px 0;
}

.small-card {
    -webkit-box-shadow: 0px 1px 2px rgba(217, 224, 227, .3);
    box-shadow: 0px 1px 2px rgba(217, 224, 227, .3);
    border: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.card-img {
    height: auto;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.card-img img {
    display: block;
    height: 100%;
    min-width: 100px;
}

.card-info {
    padding: 0 20px 10px 20px;
}

.small-card .card-price {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
    color: #263238;
}

.small-card .card-item-category {
    font-size: 12px;
    font-weight: 400;
    color: #8bc34a;
}

.small-card .card-item-title {
    padding-bottom: 10px;
    font-size: 14px;
    color: #263238;
    font-weight: 700;
    padding-top: 20px;
}

/*ACIDE PART START*/
.aside-section + .aside-section {
    margin: 32px 0;
}

.product-price-sum {
    font-size: 22px;
    font-weight: 500;
    color: #e74c3c;
}

.dropdown-price {
    padding: 10px;
    line-height: 1;
    border: 1px solid #d6d6d6;
    color: #70838d;
    background: #ffffff;
    font-size: 10px;
    height: 30px;
    max-width: 82px;
}

.dropdown-price i {
    margin-left: 9px;
    color: #8bc34a;
}

.product-price-wrapp .dropdown-menu {
    top: 0 !important;
}

.aside-section .btn-price {
    padding: 15px 0;
    text-overflow: ellipsis;
}

.aside-section .btn-lg + .btn-lg {
    margin-top: 6px;
}

.fa-sales {
    font-size: 20px;
    color: #a6b5bb;
}

.sales-count {
    font-size: 20px;
    font-weight: 700;
    color: #263238;
    margin-left: 20px;
    margin-right: 15px;
}

.sail .sales {
    font-size: 16px;
    color: #707070;
    font-weight: 300;
}

.sail {
    padding: 25px 30px;
}

.product-price-wrapp {
    margin: 25px 0;
}

.author {
    margin: 25px 0 0 0;
}

.author-pic {
    padding-left: 0;
    padding-right: 0;
}

.author-title {
    font-size: 18px;
    margin-bottom: 14px;
}

.author-btn {
    padding: 10px;
    line-height: 1;
    border: 1px solid #d6d6d6;
    color: #70838d;
    font-size: 13px;
    height: 30px;
    max-width: 92px;
    background: #ffffff;
}

.author-badges {
    margin-top: 25px;
}

.author-badges li {
    margin-right: 8px;
}

.author-badges li:last-child {
    margin-right: 0;
}

.product-info-list {
    font-size: 14px;
    font-weight: 500;
    color: #263238;
    line-height: 2.57;
}

.product-info {
    line-height: 1.43;
}

.product-info li {
    margin: 20px 0;
}

.product-info-item {
    font-weight: 400;
    color: #70838d;
}

/*ASIDE PART END*/
/* --- Product details page end --- */
@media (max-width: 767px) {
    .btn-social-wrapp a.btn {
        width: 100%;
    }

    .btn-social-wrapp a + a {
        margin-left: 0;
        margin-top: 15px;
    }

    .socials {
        margin-top: 15px;
        margin-right: auto;
    }

    .tab-description {
        flex-direction: column;
    }

    .tabs-section .nav-tabs .nav-item {
        width: 100%;
    }

    .list-arrows + .list-arrows {
        margin-left: 0;
    }

    /*.more-products-row .col-12  {*/
    /*margin-bottom: 10px;*/
    /*}*/
    .more-products-row .col-12:last-child .small-card {
        margin-bottom: 0;
    }

    .mobile-aside.right {
        right: 0;
        max-width: 66.666667%;
    }
}

@media (max-width: 576px) {
    .small-card {
        justify-content: flex-start;
    }

    .card-img {
        width: auto;
        flex: 0;
    }

    .mobile-aside.right {
        max-width: 90%;
    }
}

@media (max-width: 479px) {
    .list-arrows li {
        line-height: 1.4;
    }
}

/*PRODUCT DETAILS PAGE END*/