/*ASIDE SECTION START*/
.aside-section {
    padding: 5px 30px 28px 30px;
    border: 1px solid #dde3e8;
    background-color: #fff;
}

.aside-section .aside-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
    color: #263238;
    border-bottom: 1px solid #dde3e8;
}

.categories-item {
    margin-top: 28px;
}

.categories-item .fa {
    font-size: 14px;
    color: #8bc34a;
}

.categories-name {
    font-size: 15px;
    color: #263238;
    margin-left: 13px;
}

.categories-quantity {
    font-size: 15px;
    color: #90a4ae;
}

.categories-quantity::before {
    content: '('
}

.categories-quantity::after {
    content: ')'
}

/*Aside section - TOP 10 Sellers*/
.aside-section .card.medium-card {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 27px;
}

.aside-section .card.medium-card .card-info {
    padding: 20px 0;
    font-weight: 700;
    font-size: 16px;
    color: #263238;
    font-family: 'Roboto', sans-serif;
    border-bottom: none;
}

.aside-section .card.medium-card .card-item-title {
    font-size: 16px;
    font-weight: 700;
}

.aside-section .card.medium-card .card-item-category {
    font-weight: 500;
    font-size: 14px;
}

.aside-section .card.medium-card .card-price {
    font-size: 16px;
}

.aside-section .card.medium-card .card-author {
    padding: 0 0 27px 0;
    border-bottom: 1px solid #dde3e8;
}

.aside-section .card.medium-card:last-of-type .card-author {
    border-bottom: none;
    margin-bottom: 16px;
}

.aside-section + .aside-section {
    margin-top: 30px;
}

.mobile-aside-toggle {
    display: none;
}

@media (max-width: 991px) {
    .mobile-aside-toggle {
        display: block;
        margin-right: 10px;
        background: none;
    }

    .mobile-aside {
        position: fixed;
        top: 15px;
        left: 0;
        z-index: 999;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        height: 100vh;
        overflow-y: auto;
    }

    .mobile-aside.left {
        -webkit-transform: translateX(-110%);
                transform: translateX(-110%);
    }

    .mobile-aside.right {
        -webkit-transform: translateX(110%);
                transform: translateX(110%);
        left: auto;
        right: 30px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        opacity: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.4);
    }

    #main.show-aside .mobile-aside.left,
    #main.show-aside .mobile-aside.right {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    #main.show-aside .overlay {
        z-index: 998;
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .mobile-aside {
        max-width: 90%;
    }
}

/*ASIDE SECTION END*/