/*FORMS START*/
select {
    outline: none;
    border: none;
}

.form-control {
    width: 100%;
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    height: 40px;
    font-size: 15px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    padding: 13px 15px;
    border-radius: 0;
}

.form-control:focus,
.form-control-login:focus {
    border-color: #111;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/*.form-control.upload-item {*/
/*max-width: 900px;*/
/*}*/
textarea {
    min-height: 150px;
}

.col-form-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #444;
    line-height: 1;
    padding: 11px;
}

.col-form-must {
    font-size: 24px;
    color: #8bc34a;
}

/*Select*/
.jq-selectbox {
    width: 100%;
}

.jq-selectbox__select {
    height: 40px;
    background: #f9f9f9;
    border-color: #dedede;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 40px 0 15px;
    line-height: 40px;
}

.jq-selectbox__select:hover {
    background: #f9f9f9;
}

.jq-selectbox__select-text {
    font-size: 15px;
    /*line-height: 2.1428;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
}

.jq-selectbox__trigger {
    border-left: none;
    width: 40px;
}

.jq-selectbox__trigger-arrow {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-top-color: #000000;
}

/*Search*/
.form-search {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
}

.form-control-search {
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 1px 0 10px rgba(100, 100, 100, 0.75);
            box-shadow: 1px 0 10px rgba(100, 100, 100, 0.75);
    color: #90a4ae;
    height: 56px;
    position: relative;
}

.form-control-search input {
    padding: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: .05em;
    font-size: 14px;
    width: 100%;
}

.form-control-search i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 18px;
}

/*Login*/
.login-form {
    background-color: #8bc34a;
    border-radius: 0;
    border: none;
    padding: 90px 30px 110px;
}

/*#loginModal */
.login-title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

form[name="login-form"] {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.login-form-control::-webkit-input-placeholder {
    color: #fff;
}

.login-form-control::-moz-placeholder {
    color: #fff;
}

/* Firefox 19+ */
.login-form-control:-moz-placeholder {
    color: #fff;
}

/* Firefox 18- */
.login-form-control:-ms-input-placeholder {
    color: #fff;
}

.login-form-control {
    background-color: #76ae36;
    height: 43px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 40px;
    width: 100%;
}

.login-form-group {
    position: relative;
}

.login-form-group + .login-form-group {
    margin-top: 8px;
}

.login-form-group i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 18px;
    color: #fff;
}

.login-btn-group {
    margin-top: 20px;
    position: relative;
}

.login-btn-group button {
    width: 138px;
}

.login-btn-group .btn + .btn {
    margin-left: 10px;
}

.login-btn-group a {
    width: 248px;
}

/*Footer - form*/
.footer-form {
    max-width: 260px;
    margin: auto;
    background: #2f3c43;
}

.footer-form {
    position: relative;
    border-top: 2px solid black;
}
.footer-form:before, .footer-form:after {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
    background-image: linear-gradient(#000, transparent);
    top: -2px;
    bottom: -2px;
    width: 2px;
}
.footer-form:before {
    left: -2px;
}
.footer-form:after {
    right: -2px;
}

.footer-form div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-control-sign-up {
    height: 38px;
    color: #697378;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    padding: 0 50px 0 15px;
    background-color: transparent;
    width: 100%;
}

.footer-form button {
    width: 43px;
    background-color: #729e4c;
    color: #fff;
    font-size: 20px;
}

/*Special buttons*/
.form-control.disabled,
.form-control [disabled] {
    cursor: not-allowed;
    opacity: .6;
}

.form-control.error {
    border-color: #f57e7e;
}

.form-elements .form-control,
.form-elements .form-control-login,
.form-control .form-control-search {
    margin: 10px 0;
}

/*Upload form*/
.jq-file {
    width: 100%;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    margin: 0;
}

.jq-file__name {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    padding: 13px 10px 13px 110px;
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    height: 40px;
    font-size: 12px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
}

.jq-file__browse {
    right: auto;
    font-size: 12px;
    padding: 6px 13px;
    border: 1px solid #dedede;
    background: #ffffff;
    color: #444;
    margin: 6px 8px;
    border-radius: 0;
    line-height: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.jq-file input {
    display: none;
}

/*FORMS END*/